name: Compile Java Backend

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Give Maven wrapper execute permission
        run: chmod +x mvnw
        working-directory: ./app

      - name: Compile backend using Maven Wrapper
        run: ./mvnw -q -DskipTests package
        working-directory: ./app

      - name: Verify JAR was built
        run: |
          if [ ! -f ./target/*.jar ]; then
            echo "JAR build failed!"
            exit 1
          fi
        working-directory: ./app
